#main-container{
  position:relative;
  top:100px;
  width : 100%;
  height : auto;
}

#left-side-bar{
  flex-direction : column;
  width : 20%;
  padding : 20px;
  align-items : center;
  border-right : 1px solid grey;
  
}

#left-side-bar img{
  width : 68%;
  height : 200px;
  border : 2px solid white;
  border-radius : 50%;
  box-shadow : 0px 0px 10px 2px grey;
}

#left-side-bar a{
  margin-top:50px;
  background : rgb(107, 107, 189);
  color : white;
  font-family: sans-serif;
  font-weight: bolder;
  text-decoration: none;
  padding : 10px;
  font-size: 1.1rem;
  width : 68%;
  text-align: center;
}
#left-side-bar a:hover{
  background : rgb(34, 34, 75);
  transform : scale(1.1);
  transition: 0.5s;
  box-shadow: 0px 0px 10px 2px grey;
}

#main-feed-container{
  flex-direction: column;
  padding: 0px 100px;
  border-right : 1px solid grey;
}

#post-submit-button{
  width : 100%;
  padding : 10px;
  background : rgb(85, 143, 85);
  color:white;
  box-sizing: border-box;
  outline :0px;
  border : 0px;
  margin-top : 10px;
}

#post-submit-button:hover{
  background : rgb(45, 87, 45);
}

textarea{
  font-family: sans-serif;
  font-size: 1.1rem;
  padding : 20px;
  box-sizing: border-box;
  outline : 0px;
  display : block;
}

#posts-list-container{
  flex-direction: column;
  margin-top:20px;
  width:100%;
  height :auto;
}
.post-container{
  margin-top : 30px;
  flex-direction: column;
  width : 100%;
  box-shadow: 0px 0px 10px 2px grey;
  padding : 10px 20px;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.post-container img{
  width:50px;
  height : 50px;
  border-radius: 50%;
  border : 1px solid white;
  box-shadow : 0px 0px 1px 1px grey;
}
.post-user{
  padding : 5px 10px;
  justify-content: space-between;
  align-items: center;
}
.post-user-name{
  width : 30%;
  justify-content: space-between;
  align-items: center;
}
.post-details{
  display : flex;
  align-items: center;
  justify-content: space-between;
  color : grey;
  font-size: 0.8rem;
  font-family: sans-serif;
  margin-top:15px;
  text-align: right;
}
hr{
  color : grey;
  width:100%;
}
.content{
  padding : 20px;
}
.like-button{
  width : 20%;
  display : flex;
  justify-content: space-between;
  font-size: 1.1rem;
  color: rgb(114, 114, 173);
}
.new-comment-form{
  margin-top:20px;
  padding : 10px;
  background: rgb(166, 190, 212);
}
.new-comment-content{
  padding : 5px;
  width : 50%;
  outline :0px;
}
.new-comment-submit{
  background : rgb(98, 146, 100);
  padding :10px;
  color:white;
  border : 0px;
  outline:0px;
}
#username{
  width:98%;
  margin-top : 20x;
  padding : 5px;

}

.comment-container{
  display: flex;
  padding : 10px;
  align-items: center;
  justify-content: space-between;
  background: rgb(79, 79, 117);
  color : white;
  font-size : 0.9rem;
}
.comment-container img{
  height : 20px;
  width : 20px;
}

#online-users{
  flex-direction: column;
  padding : 0px 10px;
  align-items: center;
  width : 22%;
}

#online-users-heading{
  font-family: sans-serif;
  color : grey;
}

.online-user{
  width : 100%;
  padding : 20px;
  color : grey;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 2px grey;
  align-items: center;
  margin-top : 15px;
  /* height : 900px;
  overflow : scroll; */
}

.online-user img{
  height : 20px;
  width : 20px;
  border-radius: 50%;
}

.online-button{
  width : 10px;
  height : 10px;
  background : rgb(101, 155, 101);
  border-radius: 50%;
}

.chat-now{
  background : rgb(50, 50, 78);
  color : white;
  border :0px;
  outline: 0px;
  padding: 10px;
}